@import '~normalize.css';
@import '../styles/variables.scss';

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    position: relative;
    background: var(#{--body-background-default});
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 727px;
    padding-top: 20px;
}
