// background для белой темы
$lite-background: #FFFF;

// box-shadow для белой темы
$lite-theme-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

//blue-color 
$blue-color: #4793FF;

//first black color
$first-color: #000000;

//grey secondary color
$secondary-color: #939CB0;
$border-radius: 20px;

$card-background: rgba(71, 147, 255, 0.2);