@import '../../../../styles/variables.scss';

.this_day_info {
    display: flex;
    align-items: center;
    z-index: -3;
    width: 750px;
    height: 300px;
    position: relative;
    background: var(#{--components-background-default});
    box-shadow: var(#{--card-shadow-default});
    border-radius: 20px;
    padding: 0px 0px 0px 32px;
    overflow: hidden;
    transition: 0.2s;
}

.this_day_items {
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.indicator__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    left: 842px;
    top: 157px;
    background: $light-background;
    box-shadow: var(#{--card-shadow-default});
}

.background_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.item {
    display: flex;
    align-items: center;
}

.indicator__name {
    margin: 0px 20px;
    width: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: $secondary-color;
}

.indicator__value {
    color: var(#{--text-color-default});
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}